body {
    background-color: black;
    color: white;
    font-family: 'tomorrow', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 16px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
}

a:hover {
    color: rgb(111, 0, 255);
}

main {
    padding-left: 16px;
    display: flex;
    flex-flow: column nowrap;
}

main a {
    padding-bottom: 1rem;
}

a h1 {
    font-weight: 400;
    font-size: 1rem;
}